.container {
  display: flex;
  flex-direction: column;
  padding-inline: 600px;
  padding-block: 100px;
  view-transition-name: transition-target;
}

.title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.author {
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 20px;
}

.content {
  font-size: 1.5rem;
  line-height: 1.6;
}

.back {
  &:hover {
    cursor: pointer;
  }
}
